## Ignore stuff without extensions (binaries)
# ignore all
*
# unignore with extensions
!*.*
# un-ignore directories
!*/
# un-ignore makefiles (except the template)
!*/makefile

# ignore templates
template.cpp
/input.txt
