## Ignore stuff without extensions (binaries)
# ignore all
*
# unignore with extensions
!*.*
# un-ignore directories
!*/
# un-ignore makefiles (except the template)
!C++/*/makefile

# hidden files
\.*

# ignore templates
template.cpp
C++/input.txt
